@charset "utf-8";
@use "../../foundation/_settings.scss" as *;

// ===================================
// _markdown.scss
// ===================================

.markdown-body {
  .c-sect {
    display: grid;
    gap: 30px;
  }

  h1 {
    text-align: left;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 10px;
    font-size: 3rem;
    border-bottom: 2px solid #000;
    @include smMin {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    @include smMax {
        font-size: 2.5rem;
    }
  }

  h2 {
    text-align: left;
    font-weight: 700;
    padding: 0 0 0 10px;
    line-height: 1.3;
    border-left: 4px solid #000;
    @include smMin {
        font-size: 2rem;
    }
    @include smMax {
        font-size: 1.8rem;
    }
  }

  h3 {
    text-align: left;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: -25px;
    @include smMin {
        font-size: 1.7rem;
    }
    @include smMax {
        font-size: 1.5rem;
    }
  }


  pre {
    font-family: var(--font-ja);
    display: block;
    width: auto;
    margin: 10px 0 0;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    color: #fff;
    border-radius: 4px;
    background-color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-top: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    th,
    td {
      border-bottom: 1px solid var(--color-border);
      border-left: 1px solid var(--color-border);
      padding: 15px;
      vertical-align: middle;
    }
    th {
      background-color: #edeff0;
      font-weight: 700;
      text-align: center;
    }
    strong {
        color: var(--color-plain) !important;
        font-weight: bold;
    }
  }

  strong {
    color: var(--color-main) !important;
  }
}