@charset "utf-8";
@use "../../foundation/_settings.scss" as *;

//==========================================================================
//_sect.scss
//==========================================================================

//-----------------------------------------------------------------
//.c-sect--xl
//-----------------------------------------------------------------
.c-sect--xl {
  & + .c-sect--xl {
    
  }
}

//-----------------------------------------------------------------
//.c-sect--lg
//-----------------------------------------------------------------
.c-sect--lg {
  & + .c-sect--lg {
    @include smMin {
      margin-top: 100px;
    }
    @include smMax {
      margin-top: 50px;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect--md
//-----------------------------------------------------------------
.c-sect--md {
  & + .c-sect--md {
    border-top: 1px solid #bebfc2;
    @include smMin {
      margin-top: 40px;
      padding-top: 40px;
    }
    @include smMax {
      margin-top: 30px;
      padding-top: 30px;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect--sm 
//-----------------------------------------------------------------
.c-sect--sm {
  & + .c-sect--sm {
    @include smMin {
      margin-top: 30px;
    }
    @include smMax {
      margin-top: 20px;
    }
  }
}

//-----------------------------------------------------------------
//.c-sect--xs
//-----------------------------------------------------------------
.c-sect--xs {
  & + .c-sect--xs {
   
  }
}




